#interface-autofarm {
    position: relative;
    top: 0px;
    left: 0px;
    margin-bottom: 10px;

    .button {
        white-space: nowrap;
        position: relative;
        top: 0px;
        left: 0px;
        width: 60px;
        height: 24px;
    }

    .text {
        margin: 5px 0;
        font-size: 12px;
    }
}

#wrapper.window-open #interface-autofarm .button {
    left: 720px;
}

#autofarm-window {
    visibility: hidden;

    p, h3 {
        color: black;
    }

    input[type=text],
    input[type=number] {
        width: 100%;
    }

    select {
        width: 100%;
        padding: 0px 0 0 5px;
        font-size: 14px;
        border: 1px solid #976543;
        height: 28px;
        text-decoration: none;
        text-align: left;
        border-radius: 2px;
        font-weight: 600;
        font-family: "Trebuchet MS";
        color: white;
        box-shadow:
            0 0 0 1px #421f09 inset,
            0 0 0 2px #976543 inset,
            0 0 0 3px #421f09 inset,
            0 -1px 1px 4px rgba(215,181,144,0.7) inset,
            0 0 1px 5px rgba(0,0,0,0.4) inset;
        -webkit-appearance: none;
        -moz-appearance: none;
        outline: none;
        background-image: url(https://i.imgur.com/SlaWRrX.png), url(http://i.imgur.com/e2qKrmX.png);
        background-repeat: no-repeat, repeat;
        background-position: 293px -3px, top left;
        background-color: #b28e68;
    }

    .center {
        text-align: center;
    }

    .reduced {
        height: 30px;
    }

    .jackpot {
        border: 1px solid #000;
        margin: 0 0 1px 0;
        line-height: 22px;
        height: 24px;
        position: relative;
        color: #ffecd8;
        text-shadow: 1px 1px 1px #000;
        box-shadow: inset 0 0 0 1px rgba(218,125,103,0.5);
        background: url(http://i.imgur.com/e2qKrmX.png), -webkit-linear-gradient(left, #791d19 0%, #c53b34 50%, #791d19 100%);
        background: url(http://i.imgur.com/e2qKrmX.png), -moz-linear-gradient(left, #791d19 0%, #c53b34 50%, #791d19 100%);

        &:after,
        &:before {
            top: 0;
            position: absolute;
            content: " ";
            display: block;
            width: 40px;
            height: 24px;
            background-image: url(http://i.imgur.com/yRBriWy.png)
        }

        &:after {
            background-position: top right;
            right: 0;
        }

        &:before {
            background-position: top left;
            left: 0;
        }
    }

    .promo {
        text-align: center;
        font-size: 15px;

        p {
            margin: 5px 0;
        }
    }
}

#autofarm-settings {
    input[type="text"],
    input[type="number"],
    select {
        color: black;
    }
}

#autofarm-save {
    color: white;
    width: 180px;
    height: 25px;
    margin: 6px;
    line-height: 24px;
    border: none;
}

@keyframes autofarmShowStatus {
    0% {
        width: 60px;
    }
    100% {
        width: 220px;
    }
}

@keyframes autofarmHideStatus {
    0% {
        width: 220px;
    }
    100% {
        width: 60px;
    }
}

.autofarm-show-status {
    animation: autofarmShowStatus 0.1s forwards;
}

.autofarm-hide-status {
    animation: autofarmHideStatus 0.1s forwards;
}
